---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact Sripuram Praveen & Co',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact Us" title="Let's Discuss Your Financial Goals" />

  <ContactUs
    id="form"
    title="Get in Touch"
    subtitle="Whether you need assistance with audits, tax planning, or company law matters, our team of experts is here to help. We'll get back to you promptly to discuss how we can support your business needs."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
      {
        type: 'tel',
        name: 'phone',
        label: 'Phone',
      },
    ]}
    textarea={{
      label: 'How can we help you?',
    }}
    disclaimer={{
      label:
        'By submitting this form, you agree to the collection of your information. We respect your privacy and will handle your data securely.',
    }}
    description="Our team typically responds within 1 business day."
    data-netlify="true"
    name="contact"
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Connect With Us"
    items={[
      {
        title: 'Visit Our Office',
        description: '#17-4, Maremma Temple Street, Newpet, Palamaner - 517408, Chittoor District, A.P',
        icon: 'tabler:map-pin',
      },
      {
        title: 'Call Us',
        description: '+91 8019 57 1991 | +91 9440 57 1000',
        icon: 'tabler:phone',
      },
      {
        title: 'Email Us',
        description: 'praveen@sripurampraveen.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Business Hours',
        description: 'Monday - Friday: 10.00 AM - 6:00 PM',
        icon: 'tabler:clock',
      },
    ]}
  />

  <!-- Google Maps Embed -->
  <div class="container mx-auto px-4 py-8">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3884.344259059041!2d78.7444979!3d13.20369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xaea2aa3e5ee585f3%3A0xf42d177cddf90e33!2sSripuram%20Praveen%20%26%20Co!5e0!3m2!1sen!2sin!4v1731134085083!5m2!1sen!2sin"
      width="100%"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</Layout>
