---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import CaSvg from '../assets/favicons/ca.svg';
---

<div class="flex items-center">
  <Image src={CaSvg} alt="Logo" width={48} height={48} class="w-8 h-8" />
  <span
    class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-3xl md:text-2xl font-bold whitespace-nowrap text-[#012169] dark:text-white hover:text-secondary-600 transition duration-300"
  >
    {SITE?.name}
  </span>
</div>
